<!DOCTYPE html>
<html>
<head>
  <title>Appetite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1><%= link_to "Appetite", root_path %></h1>
		<p>The best Pubs in the world</p>
	</header>

<% flash.each do |key, value| %>

	<div class="<%= key %>">
		<p><%= value %></p>
	</div>
<% end %>


<%= yield %>

</body>
</html>
